/* Navigation Bar */
.nav-bar {
    padding: 5px 0px;
    width: 100%;
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden; 
}

.nav-bar .icon-main {
    margin: 16px 16px;
    float: left;
    font-size: 20;
    text-decoration: inherit;
    color: inherit
}

.nav-bar .icon {
    margin: 16px 16px;
    float: right;
    font-size: 18;
    text-decoration: inherit;
    color: inherit;
}

/* About */
.bio {
    width: 55%;
    font-size: 16px;
    color: black;
    line-height: 1.5;
    margin: 15px 10px;
}

/* Projects */
.projects {
    display: inline-block;
    width: 80%;
    min-height: 370px;
    margin: auto;
    padding-top: 30px;
    /* border: 1px solid black; */
    font-size: 16px;
    color: black;
    line-height: 1.5;
}

.blog-post {
    display: inline-block;
    width: 80%;
    max-height: 160px;
    margin: auto;
    padding-top: 10px;
    /* border: 1px solid black; */
    font-size: 16px;
    color: black;
    line-height: 1.5;
    text-align: left;
    /* From stack */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projects .description {
    display: table-cell;
    min-height: 350px;
    width: 50%;
    text-align: left;
    /* border: 1px solid black; */
}

/* .projects .description p {
    padding-top: 0px;
} */

.projects .pictures {
    display: table-cell;
    max-width: 48%;
    min-height: 350px;
    align-items: center;
    padding-right: 10px;
    padding-top: 80px;
    /* border: 1px solid black; */
}

.projects .pictures img {
    display: block;
    object-fit: cover;
    width: 620px;
    max-height: 350px;
    align-items: center;
}

/* Blog Post Formatting */
/* .blog-entry {
    display: inline-block;
    width: 80%;
    min-height: 370px;
    margin: auto;
    border: 1px solid black;
} */

.blog-entry {
    width: 50%;
    /* margin: auto; */
    padding-left: 10%;
    /* border: 1px solid black; */
    font-size: 18px;
    text-indent: 5px;
}
